{% extends 'org-detail-base.html' %}
{% block custome_title %}Organization Teachers{% endblock %}
{% block page_path %}Organization Teachers{% endblock %}


{% block right_form %}
    <div class="right companycenter layout">
        <div class="head">
            <h1>机构教师</h1>
            <a class="green fr more" href="org-detail-teachers.html">查看更多 > </a>
        </div>

        <div class="diarys">
            {% for teacher in all_teachers %}

                <div class="module5 share company-diary-box" style="padding:10px 0;">
                    <div class="left">
                        <img class="pic" src="{{ MEDIA_URL }}{{ teacher.img }}"/>
                        <p>昵称：{{ teacher.name }}</p>
                    </div>
                    <div class="right">
                        <div class="top">
                            <div class="fl">
                                <a href=""><h1>{{ teacher.points }}</h1></a>
                                <span>发表于：{{ teacher.add_time }}</span>
                            </div>
                        </div>
                        <div class="middle" style="border-bottom:0;">课程介绍</div>
                    </div>
                </div>

            {% endfor %}

        </div>


    </div>


{% endblock %}